.mobile-only, .mobile-nav {
    display: none;
}

html {
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    max-width: 100%;
}
body {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    margin: 32px 24px 24px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem;
}

p {
    font-size: 18px;
    line-height: 1.7;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: blue;
}

button {
    color: white;
    background-color: black;
    border: none;
    font-size: 1rem;
}

/* NAV STYLING */

.main-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 1rem 1.5rem;
}

.logo-div {
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.colmar {
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
}
.academy {
    color: darkgrey;
    font-size: 1.5rem;
    display: inline-block;
}

/* MAIN STYLING START */

/* BANNER */

.banner {
    display: flex;
    align-items: center;
    background-color: lightgrey;
}

.banner img {
    width: 60%;
    height: auto;
    margin: 32px 24px;
}
.banner div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 28%;
}

.banner div button {
    width: 95%;
    margin-left: 16px;
    margin-top: 24px;
    padding: 16px 0;
}

/* SECTION 2 */

.sec-two {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: none;
}
.big-box {
    padding: 24px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.big-box h2 {
    margin: 32px 0px 24px;
}
.big-box span {
    font-size: 14px;
    margin: 32px 0 32px;
}

.three-box img {
    width: 35%;
}

.small-box {
    display: flex;
    align-items: center;
    padding: 16px;
    border: thin solid lightgray;
}
.old-man {
    background-color: lightgray;
}
.box-txt p, .box-txt a {
    margin: 8px 20px;
}


/* LEARNING STYLING START */
.learning {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 32px 72px 32px 72px;
    overflow-x: hidden;
    max-width: 100%;
    background-color: lightgray;
    text-align: center;
}

.learning h2 {
    grid-column: 1 / span 3;
    padding-top: 32px;
    margin-bottom: 16px;
}

.learning-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    background-color: white;
    text-align: left;
}

.learning-box img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}
.learning-box span {
    padding: 8px 20px 16px;
}
.learning-box p {
    margin: 0 20px 24px;
}


/* THESIS STYLING */
.thesis-section {
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
}
.thesis-section h2 {
    width: 100%;
    flex-basis: 100%;
    text-align: center;
    margin: 32px 0 48px;
}

.thesis-big {
    max-width: 60%;
}
video {
    max-width: 100%;
}
.the-small-two {
    max-width: 40%;
}

.thesis-small {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin-left: 24px;
    align-items: center;
}
.thesis-small img {
    max-width: 35%;
    margin: 0;
    padding: 0;

}
.thesis-small p {
    margin-left: 20px;
}

.gray {
    background-color: lightgray;
}

/* FOOTER STYLING */

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px 48px;
    border-top: thin solid lightgray;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}